body {
    background-color: lightgoldenrodyellow;
}


#header {
    color: brown;
    background-color:lightcyan;

    text-decoration: dashed;
    text-align: center;
    font-size: 40px;
}
#description {
    
    font-size: 25px;
    text-align: center;
    background-color: burlywood;
    color: crimson;
    
}
img {
    height: 1024px;
    width: 768px;
    float: center;
    
}
#meal {
    align-items: center;
    font-size: 24px;
    display: flex;
    margin: 100px;
    background-color: lightcyan;
    width: fit-content;
}
.a {
    
    margin-left: 50px;
    
    
    height: fit-content;
    width: fit-content;
    font-size: 40px;
    color: brown;
}
.b {
    
    width: 200px;
    height: fit-content; 
    margin-left: 600px;
    font-size: 40px;
    color:brown;
    
}
.c {
    margin-left: 610px;
    
    height: fit-content;
    width: fit-content;
    font-size: 40px;
    color: brown;
}